@model Cake.Models.Home

@{
    ViewData["Title"] = "Create";
}

<div class="a">
    <h1>Create</h1>

    <h4>Home</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Backgroundtext" class="control-label"></label>
                    <input asp-for="Backgroundtext" class="form-control" />
                    <span asp-validation-for="Backgroundtext" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Aboutustext" class="control-label"></label>
                    <input asp-for="Aboutustext" class="form-control" />
                    <span asp-validation-for="Aboutustext" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shopid" class="control-label"></label>
                    <select asp-for="Shopid" class="form-control" asp-items="ViewBag.Shopid"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
