.card {
    display: inline-block;
    margin-left: 57px;
    margin: 30px;
}

h5.card-title {
    text-align: center;
    font-size: 20px;
    /*        font-family: cursive;
    */ color: #770777 !important;
}

p.card-text {
    font-size: 18px;
    font-family: initial;
    color: #362323 !important;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-family: 'Caveat', cursive;
    font-weight: 900;
    color: #770777;
    padding: 20px;
}

btn-primary {
    color: white !important;
    background-color: #1fab2a !important;
    border-color: #0f1d0e !important;
}

