@model IEnumerable<Cake.Models.Cart>

@{
    Layout = null;
}














@*<div class="row mb_30">
    @foreach (var item in Model)
    {
        <form asp-action="Orders">
          

            <div class="col-lg mb-5 col-12">
                <div class="card h-100  product_overlay">
                    <div class="card-body p-4">
                        <div class="text-center">



                            <div class="wrap-input100 validate-input">
                                <label for="orderDate" class="control-label">Order Date:</label>
                                <input id="orderDate" class="input100" type="datetime" name="orderDate" />
                                <span class="focus-input100"></span>
                                <span for="orderDate" class="symbol-input100"></span>
                            </div>


                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-dark mt-auto" type="submit">Order Now</button></div>
                    </div>
                </div>

            </div>

        </form>
    }


</div>*@